* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(15, 84, 91);
  color: white;
  font-family: "Sofia Sans", "Sans Serif";
  font-size: 23px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url(./istockphoto-1144547910-170667a.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

header {
  background: rgb(6, 58, 63);
  height: 15%;
  width: 100%;
  border: 2px;
  border-bottom: 5px solid rgb(4, 34, 34);
  position: fixed;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

div {
  display: flex;
  justify-content: center;
}

.cabecalho {
  height: 65%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botão {
  font-family: "Sofia Sans", "Sans Serif";
  font-size: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(20, 146, 100);
  color: white;
  background: transparent;
}

.contato {
  font-size: 15px;
  align-self: flex-start;
  color: rgb(140, 140, 140);
  display: flex;
  width: 460px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px 0;
  background: linear-gradient(
    90deg,
    rgba(9, 38, 33, 1) 0%,
    rgba(15, 78, 74, 1) 25%
  );
  height: 39px;
}

li {
  list-style-type: none;
  color: white;
  padding: 3px;
  border: dashed 2px rgba(34, 243, 166, 0);
}

a:link {
  text-decoration: none;
}

li:hover {
  border: dashed 2px rgb(34, 243, 166);
}

a li:active {
  border: solid 2px rgb(34, 243, 166);
}

.apres {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 753px;
  width: 100%;
  background: rgb(0, 87, 67);
  background: linear-gradient(
    180deg,
    rgba(0, 87, 67, 1) 0%,
    rgba(9, 121, 99, 1) 11%,
    rgba(0, 212, 255, 0) 100%
  );
}

.ola {
  font-size: 50px;
  transition: 1s;
}

.ola:hover {
  transform: scale(1.1);
}

h2 {
  display: inline-block;
  align-self: center;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.285);
  border-radius: 0 12px;
  transition: 1s;
  margin: 10px;
}

h2:hover {
  transform: scale(1.1);
  border-radius: 0;
}

.fundo {
  background: rgba(6, 58, 63, 0.673);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 96vh;
  margin: 15px 0;
  border-top: solid rgb(15, 88, 84) 5px;
  border-bottom: solid rgb(15, 88, 84) 5px;
}

.recipiente {
  background: rgba(1, 162, 98, 0.286);
  display: flex;
  flex-direction: column;
  height: 200px;
  width: fit-content;
  padding: 15px 20px;
  border-left: solid rgb(15, 88, 84) 5px;
  border-right: solid rgb(15, 88, 84) 5px;
}

#inputField {
  width: 250px;
}

#outputField {
  height: fit-content;
  width: fit-content;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
